h1{
  text-align: center;
  margin-bottom: 30px;
}

.containerTabla {
  height: 300px;
  width: 80%;
  overflow-y: auto;
  width: 100%;
  text-align: left;
}

.tablaClientes {
  width:80%;
  margin:0 auto;  
}

.formulario {
  text-align: left;
  position: absolute;
  left: 20%;
  top: 65%;
}

.containerTabla::-webkit-scrollbar {
  -webkit-appearance: none;
}

.containerTabla::-webkit-scrollbar:vertical {
  width: 10px;
}

.containerTabla::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.tablaClientes tr:nth-child(odd) {
  background-color: white;
}

.tablaClientes tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tablaClientes tr:hover {
  background-color: #ddd;
}

.tablaClientes th {
  position: sticky;
  top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightblue;
  color: black;
}

input[type=text],
select,
textarea {
  width: 60%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
  resize: vertical;
}

.containerClientes{
  display: flex;
}

.buttonClientes {
  background-color: lightblue;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

.buttonClientes:hover {
  background-color: lightcyan;
  color:black;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.buttonClientes:active {
  transform: translateY(2px);
  transition-duration: .35s;
}