h1{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .containerTabla {
    width: 80%;
    /*left: 12.5%;*/
    left: 2%;
    overflow: auto;
    top: 15%;
    height: 226.8px;
    position: absolute;
  }

  .containerBotonesRevisiones {
    position: absolute;
    right: 1.8%;
    top: 20%;
    width:15%;
    height: 450px;
  }

  .containerLabelsRevisiones {
    background-color: white;
    position: absolute;
    border-radius: 15px;
    left: 2%;
    bottom: 7%;
    width:70%;
    height: 205px;;
  }
  
  .tablaRevisiones {
    width:80%;
    margin:0 auto; 
  }
  
  .formulario {
    text-align: left;
    position: absolute;
    left: 20%;
    top: 65%;
  }
  
  .containerTabla::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .containerTabla::-webkit-scrollbar:vertical {
    width: 10px;
  }
  
  .containerTabla::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  .tablaRevisiones tr:nth-child(odd) {
    background-color: white;
  }
  
  .tablaRevisiones tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tablaRevisiones tr:hover {
    cursor: pointer;
    background-color: #ddd;
  }
  
  .tablaRevisiones th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(153, 197, 255);
    color: black;
  }
  
  input[type=text],
  select,
  textarea {
    width: 60%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px;
    resize: vertical;
  }
  
  .containerRevisiones{
    display: flex;
  }

  .buttonRev {
    background-color: rgb(74, 152, 254);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(129, 192, 250, 0.15) 0 4px 9px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 30px;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    width: 100%;
  }
  
  .buttonRev:hover {
    background-color: rgb(135, 187, 255);
    color:black;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(79, 79, 79, 0.2) 0 6px 12px;
  }
  
  .buttonRev:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .buttonRev:hover img {
    transition: .35s;
    filter: invert(1);
  }